*{
    margin:0;
    box-sizing: border-box;
}


body {
    background-color: #fbecfa;
    font-family: Arial, sans-serif;
    text-align: center; /* Centra el contenido del cuerpo */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 2px solid #61277D;
    font-family: 'Grenze Gotisch', sans-serif;  
}

.logo{   
    margin-left: 10px; 
    height: 50px; /* Ajusta el tamaño del logo */
}

.MenuPrincipal {
    list-style: none;
    display: flex;
}
.MenuPrincipal li {
    margin-left: 20px;
    border: 1px solid #EDBB0F;
    border-radius: 6px;
    background-color: #C2A9CE;
    width: 100%;
    font-size: calc(1vw + 1vh);
    padding: 6px;
}
.MenuPrincipal a {
    text-decoration: none;
    color: #333;
}
.titulo{
    margin: 10px;
    font-family: 'Grenze Gotisch', sans-serif;  
    color: #7B4E90;
}
.central {
    width: 50%;
}
.img {
    width: 100%;
    
    height: 60%;
    display: flex;
    justify-content: center;
}

.boton1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
button {
    border-radius: 5%;
    border: 2px solid #EDBB0F;
    width: 250px;
    height: 75px;
    background-color: #C2A9CE;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Grenze Gotisch', sans-serif;  
}
button:hover {
    background-color: rgb(187, 187, 215);
    color: white;
    font-family: 'Grenze Gotisch', sans-serif;  
    font-size: 26PX;
}
a:visited {
color: rgb(181, 42, 42);
}
a:active {
color: rgb(53, 25, 123);
}
a:link {
    text-decoration: none;
    color:rgb(37, 154, 146)
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.redes {
display: flex;
align-items: center;
flex-grow: 0;
flex-shrink: 0;
flex-basis: 40%;
gap: 15px;
margin-left: 30px;
margin-bottom: 10px;
}

.redes img {
width: 16px;
height: 16px;
}


.legal ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-radius: 8px;
    
}
.legal ul li{
    width: 80px;
    list-style: none;
    margin-right: 50px;
    font-size: 10px;
    border: 1px solid purple;
    border-radius: 6px;
    padding:6px;
    background-color: #C2A9CE;
}