.figuras{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: 0.6;
}
.circulo{
    position: absolute;
    top: 3.5%;
    left: 3.5%;
    width:90px;
    height:90px;
    border-radius:100%;
    animation-name: acirculo;
    background-color: #FBA222;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
@keyframes acirculo{
    0%{
        transform: translateX(60px);
        }
    25%{
        transform: translateY(70px);
    } 
    55%{
        transform: translatex(80px);
    }   
    100%{
        transform: translateY(80px);
    }        
    }
.cuadrado{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 120px;
    height: 120px;
    animation-name: acuadrado;
    background-color: #8F92B3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 1rem;
    }
@keyframes acuadrado{

    0%{
    transform: translateY(100px);
    transform: rotate(80deg);
    }
    35%{
    transform: translateY(135px);
    }  
    85%{
    transform: translateX(135px);
    }        
    }
.triangulo{
    position: absolute;
    top: 50%;
    left: 10%;
    width: 100px;
    height: 100px;
    background-image:
    linear-gradient(to bottom left, transparent 50%, #D72F25 0),
    linear-gradient(to top right, #D72F25 50%, transparent 0);
    animation-name: atriangulo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    border-radius: 0.5rem;
    }
    @keyframes atriangulo{

        0%{
        transform: translateY(100px);
        
        transform: rotate(60deg);
        }
        45%{
        transform: translateY(135px);
        }  
        65%{
        transform: translateX(135px);
        }        
        }
.circulo2{
        position: absolute;
        top: 10%;
        right: 5%;
        width: 95px;
        height: 95px;
        border-radius:100%;
        animation-name: acirculo2;
        background-color: #8F92B3;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        }
@keyframes acirculo2{
        0%{
        transform: translateX(200px);
        }
        35%{
        transform: translateY(95px);
        } 
        75%{
        transform: translatex(50px);
        }   
        100%{
        transform: translateY(100px);
        transform: translateX(200px);
        }        
        }
.cuadrado2{
        position: absolute;
        z-index: -2;
        top: 30%;
        right: 15%;
        width: 120px;
        height: 120px;
        animation-name: acirculo2;
        background-color: #FBA222;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in;
        border-radius: 1rem;
        }
@keyframes acuadrado2{
        0%{
        transform: translateX(50px);
        }
        25%{
        transform: translateY(75px);
        } 
        55%{
        transform: translatex(50px);
        }   
        100%{
        transform: translateY(85px);
        }        
        }
.triangulo2{
        position: absolute;
        top: 50%;
        right: 10%;
        width: 90px;
        height: 90px;
        background-image:
        linear-gradient(to bottom left, transparent 50%, #D72F25 0),
        linear-gradient(to top right, #D72F25 50%, transparent 0);
        animation-name: atriangulo2;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        border-radius: 0.5rem;
        }
        @keyframes atriangulo2{
        0%{
        transform: translateY(100px);
        transform: rotate(60deg);
        }
        45%{
        transform: translateY(135px);
        }  
        65%{
        transform: translateX(135px);
        }        
        }        